<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{home/plantilla :: head}"></head>
<body>
	<h1 th:text="${titulo}"></h1>
	<form th:action="@{/usuario/form}" th:object="${usuario}" method="post" enctype="multipart/form-data">

		<table>
			<tr>
				<td>Nombre</td>
				<td><input type="text" th:field="*{nombre}"/></td>
				<td th:if="${#fields.hasErrors('nombre')}">
					<small th:errors="*{nombre}" class="form-text text-danger"></small></td>			
			</tr>

			<tr>
				<td>Email</td>
				<td><input type="email" th:field="*{email}"/></td>
				<td th:if="${#fields.hasErrors('email')}">
					<small th:errors="*{email}" class="form-text text-danger"></small></td>
			</tr>

			<tr>
				<td>Fecha alta</td>
				<td><input type="date" th:field="*{fechaAlta}"/></td>
				<td th:if="${#fields.hasErrors('fechaAlta')}">
					<small th:errors="*{fechaAlta}" class="form-text text-danger"></small></td>
			</tr>
			
			<tr>
				<td>Foto</td>
				<td><input type="file" name="file" class="form-control" /></td>
			</tr>
			
			<tr>
				<td></td>
				<td><input type="submit" value = "Guardar" class="btn btn-primary"/></td>
			</tr>			
		</table>
		<input type="hidden" th:field="*{id}"/>
	</form>
	<footeer th:replace="~{home/plantilla :: foot}"></footeer>
</body>
</html>