<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{home/plantilla :: head}"></head>
<body>
	<div class="container py-4">
		<div class="card bf-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<img class="img-thumbnail rounded float-left" style="max-width: 25%"
					th:src="@{'/upload/' + ${usuario.foto}}" th:alt="${usuario.foto}" />
				<ul class="list-group">
					<li class="list-group-item" th:text="${usuario.id}">
					<li class="list-group-item" th:text="${usuario.nombre}"></li>
					<li class="list-group-item" th:text="${usuario.email}"></li>
					<li class="list-group-item" th:text="${usuario.fechaAlta}"></li>				
				</ul>
			</div>
		</div>
	</div>
	<div align ="center">
		<a class="btn btn-outline-primary" th:href="@{/usuario/listar}">Volver a lista</a>
	</div>
	<footer th:replace="~{home/plantilla :: foot}"></footer>
</body>
</html>