@charset "UTF-8";
h1.color-rojo{
	color: red;
}
p.color-azul{
	color:blue;
}
img {
	max-height:75px;
}
table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid orange;
}
.pagination.center,
.pagination.center ul {
    float: left;
    position: relative;
}
.pagination.center { left: 50%; }
.pagination.center ul { left: -50%; } 