<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{home/plantilla :: head}"></head>
<body>
	<h1 th:text="${title}"></h1>
	<form th:action="@{/libro/form}" th:object="${libro}" method="post">

		<table>
			<tr>
				<td>Titulo</td>
				<td><input type="text" th:field="*{titulo}"/></td>
				<td th:if="${#fields.hasErrors('titulo')}">
					<small th:errors="*{titulo}" class="form-text text-danger"></small></td>			
			</tr>

			<tr>
				<td>Autor</td>
				<td><input type="text" th:field="*{autor}"/></td>
				<td th:if="${#fields.hasErrors('autor')}">
					<small th:errors="*{autor}" class="form-text text-danger"></small></td>
			</tr>

			<tr>
				<td>Genero</td>
				<td><input type="text" th:field="*{genero}"/></td>
				<td th:if="${#fields.hasErrors('genero')}">
					<small th:errors="*{genero}" class="form-text text-danger"></small></td>
			</tr>
			
			<tr>
				<td>Numero ejemplares</td>
				<td><input type="text" th:field="*{numEjemplares}" class="form-control"/></td>
				<td th:if="${#fields.hasErrors('numEjemplares')}">
					<small th:errors="*{numEjemplares}" class="form-text text-danger"></small></td>
			</tr>

			<tr>
				<td></td>
				<td><input type="submit" value = "Guardar" class="btn btn-primary"/></td>
			</tr>
			
		</table>

	<input type="hidden" th:field="*{id}"/>
	</form>
	<footeer th:replace="~{home/plantilla :: foot}"></footeer>
</body>
</html>