<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{home/plantilla :: head}"></head>
<body>	<!-- Navigation bar bootstrap -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="http://localhost:8080/home"><b>Biblioteca</b></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/libro/listar}">Lista libros</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/libro/form}">Nuevo libro</a></li>		
				</ul>
			</div>
		</div>
	</nav>

	<!-- Todos los class son de bootstrap -->
	<div class="container">
			<div class="alert alert-success delayed-div animate__animated animate__fadeOut" style="animation-delay: 200ms"
			 	th:if="${success != null}" th:text="${success}"></div>
			 	
			<div class=class="alert alert-info" th:if="${error != null}" th:text="${error}"></div>
			
			<div class="alert alert-success delayed-div animate__animated animate__fadeIn" style="animation-delay: 100ms"
			 	th:if="${warningDelete != null}" th:text="${warningDelete}"></div>
			 	
			<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
			
		<h1 class="text-primary" th:text="${titulo}"></h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titulo</th>
					<th>Autor</th>
					<th>Genero</th>
					<th>Numero ejemplares</th>
					<th></th>
					<th></th>	
				</tr>
			</thead>
			<tbody>
				<tr th:each="libro: ${libros}">
					<td th:text="${libro.id}"></td>
					<td th:text="${libro.titulo}"></td>
					<td th:text="${libro.autor}"></td>
					<td>
					<a th:href="@{/libro/listar/genero/} + ${libro.genero}">						
						<span th:text="${libro.genero}"></span>
					</a>
					</td>
					<td th:text="${libro.numEjemplares}"></td>
					<td>
						<a class="btn btn-primary btn-xs" th:href="@{/libro/form/} + ${libro.id}">
							Editar
						</a>
					</td>
					<td>
						<a class="btn btn-secondary" th:href="@{/libro/eliminar/} + ${libro.id}">
							Eliminar
						</a>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
	<div align = "center">
		<nav th:replace="/libro/pag :: paginator"></nav>
	</div>
	<div align ="center" th:if="${volverALista}"><a class="btn btn-outline-info" th:href="@{/libro/listar}">Volver a lista completa</a></div>
	<footeer th:replace="~{home/plantilla :: foot}"></footeer>
</body>
</html>